.nav {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  /*text-transform: uppercase;*/
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url(./images/background2.jpg);
  background-attachment: scroll;
  background-position: 50% 50%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.bg-image {
  
  background-image: url(/images/background.jpg);
  background-attachment: scroll;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: .69;
}

